@font-face {
    font-family: "PingFang Light";
    src: url("PingFang Light.eot"); /* IE9 */
    src: url("PingFang Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("PingFang Light.woff") format("woff"), /* chrome、firefox */
    url("PingFang Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("PingFang Light.svg#PingFang Light") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


